@wiscom:registry=http://172.19.136.209:8081/repository/npm-hosted/

//172.19.136.209:8081/repository/npm-hosted/:username=luxf
//172.19.136.209:8081/repository/npm-hosted/:password=admin123
//172.19.136.209:8081/repository/npm-hosted/:email=luxf@wiscom.com.cn