span.btn {
  cursor: default;
}
.comp_prop {
  display: flex;
}
.comp_container {
  width: 1920px;
  background-color: black;
  /* transform: scale(0.5) !important; */
}
.comp_data {
  width: 100%;
}
.data_area {
  width: 100%;
  min-height: 200px;
}
